<nav class="navbar navbar-default" role="navigation">


      <div class="navbar-header">

      <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed=true">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle">Menu <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li ><a href="#">Home</a></li>
            <li ng-show="isAdmin" ><a href="#/user">Gestion des utilisateurs</a></li>
            <li ng-show="isAdmin"><a href="#/versionBI">Gestion des versions</a></li>
            <li ng-show="isAdmin"><a href="#/registerBI">Génerer un lot de BI</a></li>
            <li ng-show="isAdmin"><a href="#/lotBI">Gestion des lots de BI</a></li>
          </ul>
        </li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </nav>
