    <div class="modal-header">
        <h3 class="modal-title">User : {{user.userLastName}}</h3>
    </div>
    <div class="modal-body" >
        <table class="table table-condensed table-striped">
          <tr>
              <th>ID</th>
              <th>Prénon</th>
              <th>Nom</th>
              <th>Mot de passe</th>
              <th>Type d'utilisateur</th>

          </tr>
          <tr>
              <td>{{user.userId}}</td>
              <td><input type="text" ng-model="user.userFirstName" class="form-control"></td>
              <td><input type="text" ng-model="user.userLastName" class="form-control"></td>
              <td><input type="text" ng-model="user.password" class="form-control"></td>
              <td>
                  <select>
                      <option ng-repeat="userType in userTypes" class="form-control">{{userType.label}}</option>
                  </select>
              </td>
          </tr>
      </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">Sauvegarder</button>
        <button class="btn btn-warning" ng-click="cancel()">Annuler</button>
    </div>
